<div class="container">
<h1>wesh cousin balance ton porc</h1>
	<div class="center jumbotron">
<div class="form-group">
<%= form_for @gossip, url: {action: "create"} do |f| %>
  	c koi ton pseudo?
  	<%= f.text_field :anonymous_gossiper, class: 'form-control' %><br>
  	c koi ton potin?
  	<%= f.text_area :content, class: 'form-control' %><br>
  	<%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>
</div>
</div>
</div>
